
div.settings-page
    div.container.page
        div.row
            div.col-md-6.offset-md-3.col-xs-12

                h1.text-xs-center
                list-errors( errors='$ctrl.errors')

                form( ng-submit='$ctrl.submitForm()')

                    fieldset( ng-disabled='$ctrl.isSubmitting')
                        
                        // profile image
                        +form-control("text", "URL of profile image", "formData.image")

                        // username field
                        +form-control("text", "Username", "formData.username")
                        
                        fieldset.form-group
                            textarea.form-control.form-control-lg(
                                rows="8"
                                placeholder="Short bio about you"
                                ng-model="$ctrl.formData.bio"
                            )
                        
                        // email field
                        +form-control("email", "Email", "formData.email")

                        // bio field
                        +form-control("password", "New password", "formData.password")

                        button.btn.btn-lg.btn-primary.pull-xs-right(
                            type="submit"
                        )
                            |Update Settings

                hr
                button.btn.btn-outline-danger(
                    ng-click="$ctrl.logout()"
                )
                    |Or click here to logout
