
nav.navbar.navbar-light
  div.container

    a.navbar-brand(
        ui-sref="app.home"
        ng-bind="::$ctrl.appName | lowercase"
    )

    // Show this for logged out users
    ul.nav.navbar-nav.pull-xs-right( show-authed="false")

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.home"
            )

                |Home

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.login"
            )

                |Sign in

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.register"
            )

                |Sign up

    // Show this for logged in users
    ul.nav.navbar-nav.pull-xs-right( show-authed="true")

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.home"
            )

                |Home

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.article"
            )

                |Article

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.settings"
            )

                i.ion-gear-a
                |&nbsp; Settings

        li.nav-item
            a.nav-link(
                ui-sref-active="active"
                ui-sref="app.profile({username: $ctrl.currentUser.username})"
            )

                img.user-pic( ng-src="{{$ctrl.currentUser.image}}")
                |{{$ctrl.currentUser.username}}
