
div.auth-page
    div.container.page
        div.row
            div.col-md-6.offset-md-3.colxs-12
                h1.text-xs-center(
                    ng-bind="::$ctrl.title"
                )

                p.text-xs-center
                    a(
                        ui-sref="app.login"
                        ng-show="$ctrl.authType === 'register'"
                    )

                        |Have an account?

                    a(
                        ui-sref="app.register"
                        ng-show="$ctrl.authType === 'login'"
                    )

                        | Need an account?

                // list the errors using the list-errors component
                list-errors(errors="$ctrl.errors")

                form(ng-submit="$ctrl.submitForm()")
                    fieldset(ng-disabled="$ctrl.isSubmitting")

                        // username field
                        +form-control("text", "Username", "formData.username")(groupAttrs={'ng-show' : "$ctrl.authType === 'register'"})
                        
                        // email field
                        +form-control("email", "Email", "formData.email")

                        // password field
                        +form-control("password", "Password", "formData.password")

                        button.btn.btn-lg.btn-primary.pull-xs-right(
                            type="submit"
                            ng-bind="::$ctrl.title"
                        )
